{
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "printWidth": 160,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "arrowParens": "avoid"
}
